body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #b1b1b194;
}

header {
    background-color: #4bb37fcc;
    color: #c9b3b3(233, 60, 60, 0.902);
    padding: 10px;
}

.logo {
    font-size: 1.5em;
    color : #fffffffa
}

nav {
    width: 200px;
    float: left;
}

nav ul {
    list-style: none;
    padding: 10;
}

nav li {
    border-bottom: #1b5a1f46;
    background-color: #3ca17ec0;
    color: #fafafa;
    padding: 10px;
    margin-bottom: 2px;
}

nav button {
    display: block;
    width: 100%;
    padding: 15px;
    background: #182628;
    border-color: #3ea94546;
    color: rgb(255, 255, 255);
    font-size: 1em;
}

main {
    margin-left: 210px;
    padding: 20px;
}

.hero {
    background-color: #4fa652a4;
    color: rgb(255, 255, 255);
    padding: 50px;
    text-align: center;
}

.topics {
    background: #e8e6e6;
    padding: 20px;
    margin-bottom: 20px;
}

.topics-grid {
    display: flex;
    gap: 20px;
}

.topics-grid article {
    background: #419d7de2;
    color: #f2f2f2;
    padding: 10px;
    flex: 1;
}

.thumbnail {
    background: #3b945fb5;
    color: #ffffff;
    height: 100px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    background: #33333385;
    color: white;
    padding: 20px;
    clear: both;
}

.service-info {
    flex: 1;
    padding: 10px;
}

.red{
    color: #f2fdff46;
}